#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}
.label1 {
  background-color: rgb(43, 98, 100);
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  border: 2px solid rgb(35, 140, 158);
  border-radius: 5px;
  font: size 50px;
}

.label2 {
  background-color: rgb(244, 246, 247);
  color: rgb(103, 94, 94);
  margin-left: 500px;
  margin-right: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  border: 2px solid rgb(12, 96, 117);
  border-radius: 5px;
  font: size 50px;
}
.label3 {
  background-color: rgb(244, 246, 247);
  color: rgb(103, 94, 94);
  margin-left: 70px;
  margin-right: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  border: 2px solid rgb(12, 96, 117);
  border-radius: 5px;
  font: size 50px;
}
